<div class="main p-4">
  <h1 class="text-center fw-bold">Empresas</h1>
  <hr><br>
  <div class="row">
      <form class="form-group col-md-6">
          <div class="form-group">
              <input [ (ngModel)]="search" type="search" name="search" class="form-control inputTexto" placeholder="Ingrese el nombre de la empresa">
          </div>
      </form>
      <form class="form-group col-md-6">
          <div class="form-group">
              <a class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#createCompany">+ Crear Empresa +</a>
          </div>
      </form>
  </div>
  <div class="overflow-auto maxheight container">
      <br>
      <div class="card books shadow-sm" *ngFor="let company of users ">
          <div class="card-body minheight">
              <img src="./../../../assets/img/home.jpg" class="card-img-top" alt="...">
              <h5 class="card-title font-weight-bolder text-center">{{ company.nombre }}</h5>
              <p class="card-text"><strong>Usuario: </strong> {{ company.username }}</p>
              <p class="card-text"><strong>Teléfono: </strong>{{ company.Numero}}</p>
              <p class="card-text"><strong>Direcion: </strong>{{ company.direccion}}</p>
              <p class="card-text"><strong>Teléfono: </strong>{{ company.Numero}}</p>
              <a class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#updateCompany" (click)="setCompanyInfo(company)">Editar</a><br>
              <a class="btn btn-danger" (click)="deleteCompany(company)">Eliminar</a>
          </div>
      </div>
  </div>
  <!-- <div *ngIf="reviews.length == 0 && type == 'Reviews'">
      <p class="text-muted">No ha prestado ninguna revista aún</p>
  </div> -->
</div>

<!-- Modal Crear Libro -->
<div class="modal" id="createCompany" tabindex="-1" aria-labelledby="createCompanyLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="createCompanyLabel">Crear Empresa</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <form #saveCompany="ngForm" (ngSubmit)="onSubmit(saveCompany)">
              <div class="form-group">
                  <label for="inputName">Nombre</label>
                  <input [ (ngModel)]="user.name" name="name" type="text" class="form-control" id="inputName">
              </div>
              <div class="row">
                  <div class="form-group col-md-6">
                      <label for="inputUsername">Username</label>
                      <input [ (ngModel)]="user.username" name="username" type="text" class="form-control" id="inputUsername">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="inputPassword">Contraseña</label>
                      <input [ (ngModel)]="user.password" name="password" type="text" class="form-control" id="inputPassword">
                  </div>
              </div>
              <div class="row">
                  <div class="form-group col-md-6">
                      <label for="inputEmail">Correo</label>
                      <input [ (ngModel)]="user.email" name="edition" type="email" class="form-control" id="inputEmail">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="inputPhone">Teléfono</label>
                      <input [ (ngModel)]="user.phone" name="phone" type="number" class="form-control" id="inputPhone">
                  </div>
              </div>
              <div class="modal-footer row">
                  <button type="submit" class="btn btn-success btn-block" [disabled]="!saveCompany.form.valid">Crear</button>
              </div>
          </form>



      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
  </div>
</div>
</div>

<!-- Modal Actualizar Libro -->
<div class="modal" id="updateCompany" tabindex="-1" aria-labelledby="updateCompanyLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="updateCompanyLabel">Actualizar Libro</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="deleteCompanyInfo()"></button>
      </div>
      <div class="modal-body">
          <form #updateCompanyForm="ngForm">
              <div class="form-group">
                  <label for="inputName">Nombre</label>
                  <input [ (ngModel)]="user.name" name="name" type="text" class="form-control" id="inputName">
              </div>
              <div class="form-group">
                  <label for="inputUsername">Username</label>
                  <input [ (ngModel)]="user.username" name="username" type="text" class="form-control" id="inputUsername">
              </div>
              <div class="row">
                  <div class="form-group col-md-6">
                      <label for="inputEmail">Correo</label>
                      <input [ (ngModel)]="user.email" name="edition" type="email" class="form-control" id="inputEmail">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="inputPhone">Teléfono</label>
                      <input [ (ngModel)]="user.phone" name="phone" type="number" class="form-control" id="inputPhone">
                  </div>
              </div>
              <div class="modal-footer row">
                  <button type="submit" class="btn btn-success btn-block" [disabled]="!updateCompanyForm.form.valid" (click)="updateCompany(updateCompanyForm)">Actualizar</button>
              </div>
          </form>



      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="deleteCompanyInfo()">Cerrar</button>
      </div>
  </div>
</div>
</div>
