<div class="loginn">
    <p class="tip"></p>
    <div class="cont">
      <div class="form sign-in">
        <h2>Bienvenido!</h2>
        <label>
          <span>Email</span>
          <input type="email" id="form-email" class="form-control"  name="email" #email="ngModel" [(ngModel)]="usuarioModelLogin.email"
                      placeholder="Ingrese su correo electronico" />
        </label>
        <label>
          <span>Password</span>
          <input type="password" id="form-password" class="form-control"  placeholder="Ingrese su contraseña" data-type="password" name="password" #password="ngModel"
                    [(ngModel)]="usuarioModelLogin.password"/>
        </label>
        <p class="forgot-pass">Forgot password?</p>
        <button type="button" class="submit" (click)="login()">Sign Up</button>
        <button type="button" class="fb-btn" onclick="redirectregistro()">Registrate c:</button>
      </div>
      <div class="sub-cont">
        <div class="img">
          <div class="img__text m--up">
            <h2>Hola!</h2>
            <p>Eres nuevo acá? registrate para encontrar la solucion a tus problemas!!</p>
          </div>
        </div>
      </div>
    </div>
</div>