

.position{
    text-align: center;
    margin-top: 15px;
    
}

.carrousel{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 15px;
}

.cards{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

.text{
    text-align: center;
}


