<body>
<div class="loginn">
    <p class="tip"></p>
    <div class="cont">
      <div class="form sign-in">
        <h2>Bienvenido!</h2>
        <label>
          <span>Usuario</span>
          <input type="name" class="form-control"  name="name" #username="ngModel" [(ngModel)]="usuarioModelLogin.username"
                      placeholder="Ingrese su nombre de usuario" />
        </label>
        <label>
          <span>Password</span>
          <input type="password" id="form-password" class="form-control"  placeholder="Ingrese su contraseña" data-type="password" name="password" #password="ngModel"
                    [(ngModel)]="usuarioModelLogin.password"/>
        </label>
        <p class="forgot-pass">Forgot password?</p>
        <button type="button" class="submit" (click)="login()">Iniciar Sesión</button>
        <button type="button" class="fb-btn" routerLink="/registro" routerLinkActive="active">Registrarse</button>
      </div>
      <div class="sub-cont">
        <div class="img">
          <div class="img__text m--up">
            <h2>Hola!</h2>
            <p>Quieres llevar un control sobre toda tu empresa? Registrate para saber mas</p>
          </div>
        </div>
      </div>
    </div>
</div>
</body>
